/*
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/


/*анимация стрелки*/

@keyframes move_arrows {

    from {
        left: 7px;
    }

    to {
        left: 12px;
    }
}


/*анимацмя сердца*/

@keyframes heart {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

/*анимация искры*/

@keyframes spark {
    
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

