:root.theme-dark {
    --font-weight-normal: 465;
    --font-weight-bold: 785;
    --background-themes: #000000;
    --background-image: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
     repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
     linear-gradient(#007f0c 0.01%, #004306);
    --color-text: #00CC14;
    --color-border: #00CC14;
    --color-shadow: #000000;
    --сolor-stroke-shadow: #000000;
    --color-button: #00CC14;
    --сolor-text-button: #00CC14;
    --color-contour: #00CC14;
    --color-main-body: #00CC14;
    --color-floppy:  #00CC14;
}

@media (Prefers-color-scheme: theme-light) {

    :root {   
        --font-weight-normal: 400;
        --font-weight-bold: 700;
        --background-themes: #FFFFFF;
        --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(#e7e7e7 0.01%, #1a1a1a);
        --color-text: #000000;
        --color-border: #000000;
        --color-shadow: #000000;
        --сolor-stroke-shadow: rgba(255, 255, 255, 1);
        --color-button: #000000;
        --сolor-text-button: #FFFFFF;
        --color-contour: #000000;
        --color-main-body: #000000;
        --color-floppy: #000000;
    }
}

:root.theme-light {
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --background-themes: #FFFFFF;
    --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --color-text: #000000;
    --color-border: #000000;
    --color-shadow: #000000;
    --сolor-stroke-shadow: rgba(255, 255, 255, 1);
    --color-button: #000000;
    --сolor-text-button: #FFFFFF;
    --color-contour: #000000;
    --color-main-body :#000000;
    --color-floppy: #000000;
}


